<h1>Confirmez votre compte</h1>

<p>
    Bonjour,<br><br>
    Pour confirmer votre compte, veuillez cliquer sur le lien suivant : <br><br>
    <a href="{{ absolute_url(path('app_registration_confirm', {token: token})) }}">Confirmer mon compte</a><br><br>
    Ce lien expirera dans 1 heure.
</p>

<p>
    Cordialement,<br>
    L'équipe 3eos
</p>